.back{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1826.27px;
    height: 100%;
    background-image: url(../imags/background.png);
    z-index: -1;
}
.back1{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/wom.png);
}
.back2{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/jin.png);
}  
.back3{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/wud.png);
}  
.back4{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/guo.png);
} 
.back5{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/old.png);
} 
.back6{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/ta.png);
}
.back7{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/chd.png);
}
.yqba1{
    background-image: linear-gradient(1deg,#000000aa 20%,transparent),url(../imags/yq1.png);
    margin-left: 45px;
}
.yqba2{
    background-image: linear-gradient(1deg,#000000aa 20%,transparent),url(../imags/yq2.png);
}
.yqba3{
    background-image: linear-gradient(1deg,#000000aa 20%,transparent),url(../imags/yq3.png);
}
.yqba4{
    background-image: linear-gradient(1deg,#000000aa 20%,transparent),url(../imags/yq4.png);
}
.yqba5{
    background-image: linear-gradient(1deg,#000000aa 20%,transparent),url(../imags/yq5.png);
}
.yqba6{
    background-image: linear-gradient(1deg,#000000aa 20%,transparent),url(../imags/yq6.png);
}
.yqba7{
    background-image: linear-gradient(1deg,#000000aa 20%,transparent),url(../imags/yq7.png);
}
.back,.back1,.back2,.back3,.back4,.back5,.back6,.back7,.yqba1,.yqba2,.yqba3,.yqba4,.yqba5,.yqba6,.yqba7{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}