.Menu_MenuDrawer_dialog.Menu_MenuDrawer_open.Menu_MenuDrawer_isvisible .Menu_MenuDrawer_mask{
    opacity: 1;
}

.Menu_MenuDrawer_mask{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity .3s;
    z-index: 1;
}

.Menu_MenuDrawer_dialog.Menu_MenuDrawer_open.Menu_MenuDrawer_isvisible .Menu_MenuDrawer{
    transform: translateX(100%);
}

.Menu_MenuDrawer{
    width: 697px;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    color: #fff;
    transition: transfrom .3s;
    contain: layout size;
}

.Menu_MenuDrawer::before{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1a1a1a;
}

.Menu_MenuDrawer_scrollwrapper{
    overflow-x: visible;
    overflow-y: auto;
    height: 100%;
}

.Menu_MenuDrawer_header{
    position: sticky;
    top: 0; 
    z-index: 2;
}

.MenuDrawer_MenuHeader_header{
    padding: 24PX;
    background-color: #1a1a1a;
}

.MenuDrawer_MenuHeader_header:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 24PX;
    right: 24PX;
    background-color: #333
}

.MenuDrawer_MenuHeader_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu_MenuDrawer_dialog button{
    cursor: pointer;
}

.MenuDrawer_MenuHeader_close{
    display: flex;
    line-height: 2em;
}

.robot-p-16{
    font: 400 16px/1.56 Roboto,Open Sans,Arial,Helvetica,sans-serif;
}

.MenuDrawer_MenuHeader_close svg{
    font-size: 2em;
    margin-right: 8px;
}

.MenuDrawer_MenuHeader_close:hover span {
    text-decoration: underline;
}

.MenuDrawer_MenuHeader_header .MenuDrawer_MenuHeader_searchField{
    background-color: #fff;
    border-radius: 4px;
    margin-top: 24px;
    padding: 8px 8px 8px 12px;
    column-gap: 8px;
}

.Search_SearchField{
    position: relative;
    color: #000;
    border-bottom: 1px solid #e5e5e5;
    display: grid;
    grid-template-areas: "icon label submit" "icon input submit";
    grid-template-columns: auto minmax(0,1fr) auto;
    grid-template-rows: auto auto;
    align-items: end;
    cursor: text;
}

.Search_SearchField_icon{
    grid-area: icon;
    font-size: 20px;
    align-self: center;
    flex-shrink: 0;
}

.Search_SearchField_label{
    color: #707070;
    height: 1.5em;
    cursor: text;
}

.robot-p-12{
    font: 400 12px/1.5 Roboto,Open Sans,Arial,Helvetica,sans-serif;
}

.Search_SearchField_label span {
    font: 400 16px/1.56 Roboto,Open Sans,Arial,Helvetica,sans-serif;
    height: 1.56em;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform .15s;
    transform-origin: left top;
    transform: translateY(0) scale(.7211538462);
}

.MenuDrawer_MenuHeader_header .MenuDrawer_MenuHeader_searchField .MenuDrawer_MenuHeader_input{
    height: 1.57em;
}

.Search_SearchField_input {
    font: 300 18px/1.61 Roboto,Open Sans,Arial,Helvetica,sans-serif;
    grid-area: input;
    appearance: none;
    -webkit-appearance: none;
    background: #0000;
    border: 0;
    padding: 0;
}

.Search_SearchField_input::-webkit-search-cancel-button,.Search_SearchField_input::-webkit-search-decoration,.Search_SearchField_input::-webkit-search-results-button,.Search_SearchField_input::-webkit-search-results-decoration {
    display: none;
}

.Search_SearchField_input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.Search_SearchField_input:focus {
    outline: none;
}

.MenuDrawer_MenuHeader_header .MenuDrawer_MenuHeader_searchField:invalid .MenuDrawer_MenuHeader_button{
    background-color: #bababa;
}

.MenuDrawer_MenuHeader_header .MenuDrawer_MenuHeader_searchField .MenuDrawer_MenuHeader_button{
    width: 38px;
    height: 38px;
    font-size: 16px;
    border-radius: 4px;
}

.Search_SearchField:invalid .Search_SearchField_button{
    cursor: not-allowed;
}

.Search_SearchField_button{
    grid-area: submit;
    flex-shrink: 0;
    color: #fff;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .15s;
}

.MenuDrawer_MenuHeader_header .MenuDrawer_MenuHeader_searchField .MenuDrawer_MenuHeader_label span {
    font: 400 14px/1.57 Roboto,Open Sans,Arial,Helvetica,sans-serif;
    height: 1.57em;
    position: relative;
    top: 2px;
}

.MenuDrawer_MenuHeader_header .MenuDrawer_MenuHeader_searchField:not(:valid):not(:focus-within) .MenuDrawer_MenuHeader_label span {
    transform: translateY(calc(-50% + 21.48px)) scale(1);
}

.Menu_MenuDrawer_content{
    padding: 0 64px;
}

.MenuDrawer_MenuMainList_list{
    padding: 28 16px;
    position: relative;
}

.MenuDrawer_MenuMainList_list:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #333;
    left: 0;
    right: 0;
}

.MenuDrawer_MenuMainListItem_toggle{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.montserrat-20{
    font: 20px/1.3 Montserrat,Verdana,sans-serif;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.MenuDrawer_MenuMainListItem_toggle:before {
    content:"";
    position: absolute;
    height: 1.3em;
    left: 0;
    width: 2px;
    background: #fff;
    transition: transform .15s;
    transform: scaleY(0)
}

.MenuDrawer_MenuMainListItem_toggle .MenuDrawer_MenuMainListItem_buttonText {
    transition: transform .15s
}

.MenuDrawer_MenuMainListItem_toggle.MenuDrawer_MenuMainListItem_open .MenuDrawer_MenuMainListItem_buttonText,.MenuDrawer_MenuMainListItem_toggle:hover .MenuDrawer_MenuMainListItem_buttonText {
    transform: translateX(1em)
}

.MenuDrawer_MenuMainListItem_toggle.MenuDrawer_MenuMainListItem_open:before,.MenuDrawer_MenuMainListItem_toggle:hover:before {
    transition-delay: .15s;
    transform: scaleY(1)
}

.MenuDrawer_MenuMainListItem_toggle .MenuDrawer_MenuMainListItem_buttonText {
flex: 1 1
}

.MenuDrawer_MenuMainListItem_toggle svg {
font-size: 1.2em
}

.leftnav{
    float: right;
}

.rightli{
    right: -40px;
    position: relative;
}

.bottomnav{
    height: 100px;
}

.Menu_MenuDrawer_leveltwo{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    min-width: 360px;
    max-width: 472px;
    width: calc(var(--hundred-vw)*.32);
    display: none;
}

.MenuDrawer_SecondDrawer_clip{
    overflow: hidden;
    contain: strict;
    height: 100%;
    z-index: 1;
}

@media(min-width: 820px) {
    .MenuDrawer_SecondDrawer {
        transition:transform .3s;
        will-change: transform;
        background-color: #222;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column
    }

    .MenuDrawer_SecondDrawer:before {
        content: "";
        min-height: 24px;
        height: var(--padding-top)
    }

    .MenuDrawer_SecondDrawer_open .MenuDrawer_SecondDrawer {
        transform: translateX(0)
    }
}

.MenuDrawer_SecondDrawer{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media(min-width: 820px) {
    .MenuDrawer_SecondDrawer_content {
        padding:0 64px
    }
}

.MenuDrawer_SecondDrawer_list {
    position: relative;
    left: -40px;
    top: -10px;
}

@media(min-width: 820px) {
    .MenuDrawer_SecondDrawer_component {
        padding-top:0
    }
}

.MenuDrawer_SecondDrawer_component{
    padding: 0;
    padding-bottom: 20px;
    top:-10px;
    display: flex;
    justify-content: center;
}

.MenuDrawer_SecondDrawer_listitem{
    font-size: 16px;
    line-height: 1.56;
    border-top: 1px solid #333;
}

.MenuDrawer_SecondDrawer_link {
    display: block;
    padding: 24px 16px
}

@media(min-width: 820px) {
    .MenuDrawer_SecondDrawer_link {
        padding-right:0;
        padding-left: 0
    }
}

.MenuDrawer_SecondDrawer_link:hover {
    text-decoration: underline
}

.Menu_MenuDrawer_dialog:not(.Menu_MenuDrawer_isvisible) .Menu_MenuDrawer_leveltwo {
    transition: none
}

.Menu_MenuDrawer_dialog:not(.Menu_MenuDrawer_open) {
    pointer-events: none
}

.MenuDrawer_MenuCardList_list{
    position: relative;
    padding: 48px 0;
}

.MenuDrawer_MenuCardList_list:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #333;
}

.MenuDrawer_MenuCardList_cardsMinor{
    display: grid;
    grid-template-columns: repeat(auto-fit,calc(50%-16px));
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    grid-auto-rows: auto;
}

.MenuDrawer_MenuCardListItem{
    display: flex;
    align-items: center;
    background-color: #222;
    overflow: hidden;
    height: 64px;
    width: 261px;
}

.MenuDrawer_MenuCardListItem_img{
    width: 64px;
    height: 64px;
    border-radius: 4px;
    object-fit: contain;
    display: block;
    margin-right: 16px;
}

.MenuDrawer_MenuCardListItem_title{
    max-height: 100%;
    flex: 1 1;
    text-decoration: underline;
    text-decoration-color: #0000;
    transition: text-decoration-color .15s,-webkit-text-decoration-color .15s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MenuDrawer_MenuCardListItem_svg{
    font-size: 1.5em;
    transition: transfrom .15s;
    will-change: transfrom;
    margin: 0 16px;
}

.MenuDrawer_MenuCardListItem:focus .MenuDrawer_MenuCardListItem_title, .MenuDrawer_MenuCardListItem:hover .MenuDrawer_MenuCardListItem_title{
    text-decoration-color: initial;
}

.MenuDrawer_MenuCardListItem:focus .MenuDrawer_MenuCardListItem_svg,.MenuDrawer_MenuCardListItem:hover .MenuDrawer_MenuCardListItem_svg {
    transform: translateX(4px)
}

.MenuDrawer_MenuMainList_list li:hover .Menu_MenuDrawer_leveltwo{
    display: block;
    transition:all;
}

.MenuDrawer_MenuHeader_top .MenuDrawer_MenuHeader_close:hover .Menu_MenuDrawer_dialog{
    display: none;
    transition:all;
}

.show-menu{
    right: 100%;
}

.MenuDrawer_MenuCardListBigItem{
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 16px;
}

.MenuDrawer_MenuCardListBigItem:before{
    content: "";
    display: block;
    height: 0;
    padding-bottom: 56.25%;
}

.MenuDrawer_MenuCardListBigItem_image{
    z-index: -1;
}

.MenuDrawer_MenuCardListBigItem_title{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px 24px;
    text-decoration: underline;
    text-decoration-color: #0000;
    transition: text-decoration-color .15s,-webkit-text-decoration-color .15s;
}

.MenuDrawer_MenuCardListBigItem_title:before{
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg,#000c,#0000008c 50%,#0000);
}

.MenuDrawer_MenuCardListBigItem_svg{
    font-size: 1.5em;
    flex-shrink: 0;
    margin-left: auto;
    transition: transform .15s;
    will-change: transform;
}

.MenuDrawer_MenuCardListBigItem:focus .MenuDrawer_MenuCardListBigItem_title, .MenuDrawer_MenuCardListBigItem:hover .MenuDrawer_MenuCardListBigItem_title{
    text-decoration-color: initial;
}

.MenuDrawer_MenuCardListBigItem:focus .MenuDrawer_MenuCardListBigItem_svg,.MenuDrawer_MenuCardListBigItem:hover .MenuDrawer_MenuCardListBigItem_svg {
    transform: translateX(4px)
}

.MenuDrawer_MenuFooter{
    padding-top: 48px;
}

.MenuDrawer_MenuFooter_socials{
    justify-content: center;
}

.SocialLinks_socials{
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-bottom: -16px;
}

.SocialLinks_link{
    padding: 12px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #333;
    display: block;
    height: 48px;
    margin-right: 24px;
    margin-bottom: 16px;
    transition: box-shwdow .15s;
}

.SocialLinks_link svg {
    font-size: 24px
}

.SocialLinks_link:focus,.SocialLinks_link:hover {
    box-shadow: inset 0 0 0 2px #fff
}

.SocialLinks_socials.SocialLinks_light .SocialLinks_link {
    box-shadow: inset 0 0 0 2px #e5e5e5
}

.SocialLinks_socials.SocialLinks_light .SocialLinks_link:focus,.SocialLinks_socials.SocialLinks_light .SocialLinks_link:hover {
    box-shadow: inset 0 0 0 2px #000
}

.BackToTop{
    --min-offset:max(24px,var(--offset,0px));
    position: fixed;
    bottom: var(--min-offset);
    width: 100%;
    pointer-events: none;
    z-index: 100;
    contain: layout size;
    transition: bottom 1s;
}

.BackToTop_button{
    position: absolute;
    right: 32px;
    bottom: 24px;
    font-size: 1.4em;
    padding: 16px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 10px 0 #00000026;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .15s,transform .3s,opacity .3s;
    pointer-events: all;
}

.BackToTop_button:hover {
    background-color: #e5e5e5
}

.BackToTop_button svg {
    display: block
}