*{
    box-sizing: border-box;
}
.h{
    margin-left: 200px;
    margin-bottom: 15px;
}
.one{
    height: 650px;
}
.back1{
    background-size: 100% 100%;
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/1.png);
    background-repeat: no-repeat;
}
.back2{
    background-size: 100% 100%;
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/2.png);
    background-repeat: no-repeat;
}  
.nav{
    margin: 50px auto;
    height: 700px;
    padding: 1px;
}
.nav ul{
    list-style: none;
    margin-left: 50px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

}
.nav li{
    width: 1400px;
    height: 600px;
    white-space: nowrap;
    line-height: 600px;
    display: inline-block;
    position: relative;

}
.djt{
    float: right;
}
