*{
    box-sizing: border-box;
}
.nav{
    margin: 35px auto;
    height: 700px;
    padding: 1px;
}
.nav ul{
    list-style: none;
    margin-left: 30px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 650px;
}
.nav li{
    width: 1360px;
    height: 570px;
    white-space: nowrap;
    line-height: 600px;
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}
.CardsSlideshow_ALaUne_icon {
    display: block;
    align-self: flex-end;
    font-size: 1.7142857143em;
    margin-left: 48px;
    float: right;
    margin-right: 90px;
    position: relative;
}
.SvgRWrapper {
    height: 1em;
    width: 1em;
    pointer-events: none;
    fill: currentColor;
}

/*ul::-webkit-scrollbar {
    display: none;
}*/
.ba{
    background-color: white;
    height: 1550px;
}
.touming{
    width: 100%;
    height: 300px;
    background-color:transparent;
    position: relative;
    z-index: -1000;
}