/*syf开始*/
@font-face {
    font-family:'LouvreSerif';
    src: url(latin.woff2) format(woff2);
}

body {
    margin: 0px;
}
.PLONGEZ-AU-CŒUR-DU-LOUVRE{
    background-color: #000;
    padding: 20px;
    margin-bottom: 0px;
    height: 96vw;
    overflow: hidden;
    margin: 0px;
}

.plongez-1{
    color: #fff;
    font: 400 58px/1.24 LouvreSerif,Georgia,Times New Roman,serif;
    margin: 20px 20px 20px 200px;
    padding-right: 680px;
}

.pic {
    position: relative;
    padding-top: 5vw;
    padding-left: 40px;
    padding-right: 0px;
    border: 1px;
}

.pic img{
    margin: 0.6vw;
    padding: auto;
    position: relative;
    width: 29%;
    height: auto;
}


.p2 {
    top: -11.5vw;
}

.p5 {
    top: -20vw;
}

.p7 {
    top: -1.5vw;
}
.p8 {
    top: -20vw;
}
.p9 {
    top: -1.5vw;
}

.anniu{
    background-color: #fff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    height: 32px;
    width: 130px;
    padding: 15px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    position: relative;
    top: 210px;
    font: 400 16px/1.56 'Roboto Medium',Open Sans,Arial,Helvetica,sans-serif
}
.anniu:link{
    color: #000;
    text-decoration: none;
}
.anniu:hover{
    color: #000;
    text-decoration:underline;
    background-color: #ddd;
}
.anniu:visited{
    color: #000;
}
.jb {
    width: 100%;
    height: 20vw;
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,0),rgb(0,0,0));
    position:absolute ;
    top: 1300px;
    left: 0px;
    z-index: 50;
}

.VOUS-SOUHAITEZ{
    height: 800px;
    margin-top: 0vw;
    background-color: #fff;
    padding: 100px 50px;
    font-size: 20px;
    position: relative;
    z-index: 3;
    font-family: Roboto, "Open Sans", Arial, Helvetica, sans-serif;
}
.line::after {
    content: "";
    display: block;
    height: 1px;
    width: 90vw;
    top: calc(.785em - 1px);
    position: absolute;
    left: calc(16px + var(--body-padding));
    right: 0;
    background-color: #9a9898;
}
.line{
    position: relative;
}
.line span {
    position: relative;
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    color: #000;
    font: 18px/1.33 Montserrat,Verdana,sans-serif;
}

.vousimg {
    margin: 0;
    margin-top: 5vw;
    width:670px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    margin-right: 0px;
    top: 80px;
    left: 70px;
}
.vousimg img{
    width: 800px;
    height: 420px;
}
.vous-ul{
    margin-top:0;
    margin-left: 0;
    width: 100%;
    height: 600px;
}

.vous-ul ul{
    margin-top:0;
    margin-left: 0;
    position: relative;
    top: -1vw;
    float: right;
    width: 60vw;
    right: -10vw;
    top: 1vw;
}
.vous-ul ul li {
    width: 25vw;
    height: 9vw;
    display: inline-block;
    font-size: 16px;
    margin-right: 1vw;
    vertical-align: center;
    align-items: center;
}

.vous-ul ul li a:link{
    text-decoration: none;
    color: #000;
}

.vous-ul ul li a:visited{
    text-decoration: none;
    color: #000;
}

.vous-ul ul li a:hover{
    text-decoration: underline;
    color: #000;
    background-color: #999;
}

.voussvg {
    height: 50px;
    font-size: 100px;
    padding-right: 1vw;
    padding-left: 1vw;
    fill-rule: evenodd;
    pointer-events: none;
    fill: currentColor;
    position: relative;
}
.jiantou {
    height: 30px;
    font-size: 100px;
    padding-right: 1vw;
    padding-left: 1vw;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 50px;
}

.syfsb{
    position: relative;
}

/*syf结束*/