.HSL{
    margin-top: 0px;
    padding-left: 0px;
    width: 100%;
}
.flux{
    width: 100%;
    margin-bottom: 0;
}
.CSs{
    height: 467.52px;
}
.CSs ul{
    width: 100%;
    list-style: none;
    margin-left: 30px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 450px;
    padding-top: 25px;
}
.CSs li{
    width: 336px;
    height: 369px;
    white-space: nowrap;
    line-height: 600px;
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}
.TK:hover{
    transform:translate(-5%, -5%) scale(1.1);
}