.flux{
    margin-bottom: 0;
}
.CSs{
    width:calc(calc(100vw - 15px) + .1px);
    position: relative;
    left:calc(50% - .1px);
    transform: translate(calc(-1 * calc(100vw - 17px)/2));
    padding: 24px 0;
    margin: -24px 0;
}
.CSs ul{
    margin-top: 0;
    display: flex;
    align-items: stretch;
    padding: 0 calc((calc(100vw - 17px) - 1600px)/2);
    width: max-content;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 650px;
    list-style: none;
}
.CSs li{
    width: 382px;
    height: 419.27px;
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    margin-right: 24px;
    white-space: nowrap;
    line-height: 600px;
}
.yqba1{
    background-image: linear-gradient(5deg,#000000aa 20%,transparent),url(../imags/yq1.png);
}
.yqba1{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.TK:hover{
    transform:scale(1.05);
}
